@model Root
@{
    ViewData["Title"] = "Home Page";
}
    <script type="text/javascript">
        function onClick(element) {
            $(element).css('background-color', '#3CB44B');
            setTimeout(function () { $(element).fadeOut('slow').fadeIn('slow'); }, 500);
            setTimeout(function () { $(element).css('background-color', '#FF6A00'); }, 500);
        }
    </script>

<div class="container" style="background-color:lightgray">
   
        <div class="row">
            @foreach (var column in Model.Columns)
            {
                <div class="col">
                         

                        @foreach (var locker in column.Lockers)
                        {
                            <div class="row" id="@locker.Name" style="background-color:#3CB44B;border-color:white;border-width:thin;margin: 2px 2px 2px 2px;" onclick="onClick(this)">

                                @locker.Name


                            </div>
                        }

                    
                </div>

            }

        </div>
   
    
</div>
